@if (isLoading) {
<app-loading></app-loading>
} @else { @if(authService.isAuthenticated$ | async) {
<app-header></app-header>
@if (roles === 'Instructor') {
<app-instructor-dashboard> </app-instructor-dashboard>
} @else if (roles === 'Admin') {
<app-admin-dashboard></app-admin-dashboard>
} @else {
<app-user-dashboard
  [blogs]="blogs"
  [instructors]="instructors"
  class="w-full montserrat-normal"
></app-user-dashboard>
} } @else {
<app-header [newLanding]="true"></app-header>
<section class="h-full relative">
  <app-parallax
    [parallaxSpeed]="0.5"
    [imagePath]="pullZone + '/assets/photo1.png'"
  ></app-parallax>
  <div
    class="text-white montserrat-normal absolute -translate-x-2/4 -translate-y-1/2 top-1/2 left-2/4 text-center"
  >
    <h1 class="font-bold text-2xl md:text-8xl uppercase">Fluye Consciente</h1>
    <p class="text-2xl">yoga, meditaciones y talleres</p>
  </div>
  <span
    (click)="scrollArrow()"
    class="material-symbols-outlined -translate-x-2/4 z-10 absolute text-4xl text-white bottom-[10%] left-2/4 cursor-pointer"
  >
    keyboard_arrow_down
  </span>
</section>
<section
  class="bg-white montserrat-normal container mx-auto h-auto px-4 p-8"
  data-aos="fade-up"
  data-aos-duration="1000"
>
  <div
    [@fadeIn]="elementState"
    appInView
    (inView)="onInView()"
    class="bg-white lg:p-8 relative overflow-hidden flex flex-col items-center h-5/6"
    id="scrollContent"
  >
    <h1
      class="text-4xl md:text-5xl text-center lg:text-start font-medium mb-4 text-strongBrown"
    >
      ¡Bienvenidos y bienvenidas a <span class="lowercase">esencial</span><span class="text-blue">360!</span>
    </h1>
    <div
      [@fadeIn]="elementState"
      appInView
      (inView)="onInView()"
      class="flex md:flex-row flex-col items-center justify-around bg-white px-8 lg:py-16 rounded-xl max-w-6xl mx-auto"
    >
      <div class="mt-5 md:mt-0 md:w-1/2">
        <img
          [src]="pullZone + '/assets/photo38.png'"
          alt="Yoga pose"
          class="rounded-xl object-cover lg:h-[40rem] mb-4"
        />
        <app-button
          [bgColor]="'bg-blue'"
          [text]="'¡Comenzar mi viaje esencial360!'"
          [width]="'w-full'"
          (click)="authService.loginWithRedirect({ 
              authorizationParams: {
                  screen_hint: 'signup',
                }, appState: { target: '/suscribe' }})"
        ></app-button>
      </div>

      <div
        [@fadeIn]="elementState"
        appInView
        (inView)="onInView()"
        class="md:w-1/2 mb-8 mt-10 lg:mt-0 md:mb-0 lg:ml-[80px] montserrat-normal"
      >
        <p class="text-lg mb-6 text-strongBrown">
          Este es tu espacio seguro, un punto de encuentro donde el bienestar y
          el crecimiento personal son la esencia de tu vida. Aquí eres parte de
          una comunidad que te inspira y te acompaña en cada paso de tu
          transformación personal.
        </p>
        @for (item of welcomeLines; track $index) {
        <div class="flex flex-col my-4">
          <h4 class="text-blue text-2xl uppercase">{{ item.title }}</h4>
          <p>{{ item.description }}</p>
        </div>
        }
        <p class="text-blue font-bold">
          ¡Disfruta de recompensas y beneficios que celebran tu compromiso y te
          inspiran a seguir avanzando!
        </p>
      </div>
    </div>
    <!-- <app-scrolling-banner class="flex justify-center"></app-scrolling-banner> -->
  </div>
</section>
<app-banner-v2
  [reverse]="true"
  [text]="
    'Para las culturas indígenas, el quetzal es más que un ave: simboliza libertad, una riqueza profunda y un lazo con lo esencial. Un recordatorio de vivir en equilibrio.'
  "
  [image]="pullZone + '/assets/bird.png'"
></app-banner-v2>
<section
  class="container mx-auto px-4 py-8"
  data-aos="fade-up"
  data-aos-duration="1000"
>
  <div
    class="flex flex-col text-col w-full items-center justify-center montserrat-normal my-8"
  >
    <h3 class="text-4xl lg:text-6xl my-2 text-strongBrown uppercase">
      ¡Descubre tu equilibrio!
    </h3>
    <p class="text-strongBrown lg:text-xl my-4">
      Estas herramientas de esencial<span class="text-blue">360</span> te
      ayudarán en tu proceso.
    </p>
  </div>
  <div
    [@fadeIn]="elementState"
    appInView
    (inView)="onInView()"
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2"
  >
    @for (service of services; track $index) {
    <div
      [ngClass]="{
        'bg-gray-100': !service.special,
        'bg-purple-100': service.special
      }"
      class="overflow-hidden relative group"
      (click)="onService(service.title)"
    >
      <img
        [src]="service.image"
        [alt]="service.title"
        class="w-full h-60 object-cover transition duration-300 ease-in-out transform hover:scale-125 cursor-pointer brightness-75"
      />
      <div class="">
        <h3
          class="text-xl lg:text-3xl text-white z-20 font-semibold absolute -translate-x-2/4 -translate-y-1/2 top-1/2 left-2/4"
        >
          {{ service.title }}
        </h3>
      </div>
    </div>
    }
  </div>
  <div
    class="flex flex-col text-col w-full items-center justify-center montserrat-normal my-8"
  >
    <button
      (click)="authService.loginWithRedirect({ 
              authorizationParams: {
                  screen_hint: 'signup',
                }, appState: { target: '/suscribe' }})"
      class="bg-blue text-white px-8 py-4 font-bold md:w-4/12 text-sm rounded-md flex items-center justify-center w-full"
    >
      ¡Comenzar mi viaje esencial360!
    </button>
  </div>
</section>
<app-news-and-blogs></app-news-and-blogs>
<app-banner-v2
  [title]="' Todo a Tu tiempo.'"
  [text]="
    'El caracol, un símbolo usado en la cultura maya que representa el agua y la tierra, nos recuerda el poder del agua para fluir con claridad y la firmeza de la tierra para decidir con certeza.'
  "
  [image]="pullZone + '/assets/snail.png'"
></app-banner-v2>
<app-pricing-plan></app-pricing-plan>
<app-faq></app-faq>
} }

<app-footer [ngClass]="isLoading ? 'fixed bottom-0 w-full' : ''"></app-footer>
