<button
(click)="onActionButton()"
class="group flex items-center rounded-full px-4 hover:bg-veige py-2 transition-colors duration-200"
[ngClass]="bgColor ? bgColor : 'bg-lightBrown hover:bg-strongBrown'"
>
<span class="text-white text-sm font-medium uppercase">{{text}}</span>
<div
  class="ml-2 rounded-full w-5 h-5 flex items-center justify-center transition-colors duration-200"
  [ngClass]="bgColor"
>
  <svg
    class="w-3 h-3 text-white"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9 5l7 7-7 7"
    ></path>
  </svg>
</div>
</button>
