<section
  class="flex flex-col mx-auto px-4 py-8 container items-center montserrat-normal"
>
  <div class="flex items-center justify-center">
    @if (!reverse) {
    <p class="text-xl text-lightBrown w-7/12">
      {{ text }}
    </p>
    <img [src]="image" class="w-80" alt="" />
    } @else {
    <img [src]="image" class="w-80" alt="" />
    <p class="text-xl text-lightBrown w-7/12">
      {{ text }}
    </p>
    }
  </div>
  @if (title) {
  <h4 class="text-blue uppercase text-6xl my-8">
    {{ title }}
  </h4>
  }
</section>
