@if(authService.isAuthenticated$ | async) { @if (!newLanding) {
<header
  class="hidden bg-white bg-gray-800 text-black montserrat-normal text-strongBrown px-20 p-4 xl:flex justify-between items-center w-full top-0 z-[60]"
  style="
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px,
      rgba(35, 41, 54, 0.08) 0px 8px 16px;
  "
>
  <div class="flex justify-center items-center" (click)="onHome()">
    <img
      [src]="pullZone + '/assets/blueLogo.png'"
      alt="Logo"
      class="max-h-20 cursor-pointer rounded-lg"
    />
    <h3 class="text-veige">esencial<span class="text-blue">360</span></h3>
  </div>
  <nav>
    <ul
      class="flex anton items-center uppercase pointer text-base cursor-pointer"
    >
      @if (roles === "User") {
      <div class="flex items-center">
        <span class="text-xl">🔥</span>
        <span class="mr-10 font-semibold text-lg">{{ streak }}</span>
      </div>
      } @if (roles === "User") {
      <li class="mr-10">
        <a (click)="onInstructors()" class="hover:text-gray-400"
          >INSTRUCTORES</a
        >
      </li>
      <li class="mr-10">
        <a (click)="onClasses()" class="hover:text-gray-400">Clases</a>
      </li>
      <li class="mr-10">
        <a (click)="onMeditations()" class="hover:text-gray-400"
          >MEDITACIONES</a
        >
      </li>
      <!-- <li class="mr-10">
        <a (click)="onAbout()" class="hover:text-gray-400">Nosotros</a>
      </li> -->
      <!-- <li class="mr-10">
        <a (click)="onCommunity()" class="hover:text-gray-400">Comunidad</a>
      </li> -->
      }
      <li class="mr-10" (click)="signOut()">LOGOUT</li>
      @if (roles === "User") {
      <button
        (click)="onUserSettings()"
        class="group flex items-center rounded-full bg-lightBrown px-4 py-2 hover:bg-strongBrown transition-colors duration-200"
      >
        <span class="text-white text-sm font-medium uppercase">Mi perfil</span>
        <div
          class="ml-2 rounded-full bg-lightBrown w-5 h-5 flex items-center justify-center hover:bg-strongBrown transition-colors duration-200"
        >
          <svg
            class="w-3 h-3 text-white"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            ></path>
          </svg>
        </div>
      </button>
      }
    </ul>
  </nav>
</header>

<header
  class="xl:hidden text-white bg-white p-4 flex justify-between items-center w-full sticky top-0 z-[60]"
  style="
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px,
      rgba(35, 41, 54, 0.08) 0px 8px 16px;
  "
>
  <div class="flex items-center justify-between w-full">
    <div class="flex justify-center items-center" (click)="onHome()">
      <img
        [src]="pullZone + '/assets/blueLogo.png'"
        alt="Logo"
        class="max-h-20 cursor-pointer rounded-lg"
      />
      <h3 class="text-veige">esencial<span class="text-blue">360</span></h3>
    </div>
    <span
      (click)="toggle()"
      class="material-symbols-outlined text-blue w-4 mr-6 font-bold"
    >
      menu
    </span>
  </div>
</header>
<section
  class="xl:hidden fixed top-0 left-0 w-full h-full montserrat-normal bg-white text-strongBrown z-[60]"
  [@menuAnimation]="isOpen ? 'open' : 'closed'"
>
  <button
    class="xl:hidden text-white focus:outline-none absolute top-[5%] right-[10%]"
    (click)="toggle()"
  >
    <span class="material-symbols-outlined text-blue"> close </span>
  </button>
  <div class="flex justify-start items-center" (click)="onHome()">
    <img
      [src]="pullZone + '/assets/blueLogo.png'"
      alt="Logo"
      class="max-h-20 cursor-pointer rounded-lg"
    />
    <h3 class="text-veige">esencial<span class="text-blue">360</span></h3>
  </div>
  <div class="container mx-auto px-4 mt-16">
    @if(userConnected) {
    <ul class="space-y-4 text-lg font-semibold">
      @if (roles === "User") {
      <div class="flex items-center">
        <span class="text-xl">🔥</span>
        <span class="mr-10 font-semibold text-lg">{{ streak }}</span>
      </div>
      }
      <li (click)="onClasses()" class="ml-2">CLASES</li>
      <li (click)="onMeditations()" class="ml-2">MEDITACIONES</li>
      <li class="ml-2" (click)="onInstructors()">INSTRUCTORES</li>
      <li class="ml-2">
        <a (click)="onCounsel()" class="hover:text-gray-400">CONSEJO</a>
      </li>
      <li class="border-t border-gray-700 pt-4 my-8"></li>
      <li (click)="onSignIn()">SIGN IN</li>
      <li class="" (click)="onContact()">CONTACTANOS</li>
    </ul>
    } @if(!userConnected) {
    <ul class="space-y-4 text-lg font-semibold">
      <li (click)="onClasses()" class="ml-2">CLASES</li>
      <li (click)="onMeditations()" class="ml-2">MEDITACIONES</li>
      <li class="ml-2" (click)="onInstructors()">INSTRUCTORES</li>
      <li class="ml-2">
        <a (click)="onCounsel()" class="hover:text-gray-400">CONSEJO</a>
      </li>
      <li class="border-t border-gray-700 pt-4 my-8"></li>

      <li class="" (click)="signOut()">LOGOUT</li>

      <li class="" (click)="onUserSettings()">SETTINGS</li>

      <!-- <li
        class=""
        (click)="authService.loginWithRedirect({ 
              authorizationParams: {
                  screen_hint: 'signup',
                }, appState: { target: '/subscribe' }})"
      >
        SUBSCRIBITE
      </li> -->
      <!-- <li
      class=""
      (click)="onSignUp()"
    >
      SUBSCRIBITE
    </li> -->
      <li class="" (click)="onContact()">CONTACTANOS</li>
    </ul>
    }
  </div>
</section>
} @else {
<header
  class="hidden text-white text-black montserrat-normal text-strongBrown px-20 xl:flex p-4 xl:absolute justify-between items-center w-full top-0 z-[60]"
>
  <div class="flex justify-center items-center" (click)="onHome()">
    <img
      [src]="pullZone + '/assets/logoWhite.png'"
      alt="Logo"
      class="max-h-20 cursor-pointer rounded-lg"
    />
    <h3 class="text-white text-2xl">
      esencial<span class="text-blue">360</span>
    </h3>
  </div>
  <nav class="flex">
    @if (roles === "User") {
    <div class="flex items-center">
      <span class="text-xl">🔥</span>
      <span class="mr-10 font-semibold text-lg">{{ streak }}</span>
    </div>
    }
    <ul
      class="flex anton items-center uppercase pointer text-base cursor-pointer"
    >
      @if (roles === "User") {
      <li class="mr-10">
        <a (click)="onInstructors()" class="hover:text-gray-400"
          >INSTRUCTORES</a
        >
      </li>
      <li class="mr-10">
        <a (click)="onCounsel()" class="hover:text-gray-400">CONSEJO</a>
      </li>
      <li class="mr-10">
        <a (click)="onClasses()" class="hover:text-gray-400">Clases</a>
      </li>
      <li class="mr-10">
        <a (click)="onMeditations()" class="hover:text-gray-400"
          >MEDITACIONES</a
        >
      </li>
      <!-- <li class="mr-10">
        <a (click)="onAbout()" class="hover:text-gray-400">Nosotros</a>
      </li> -->
      <!-- <li class="mr-10">
        <a (click)="onCommunity()" class="hover:text-gray-400">Comunidad</a>
      </li> -->
      }
      <li class="mr-10" (click)="signOut()">LOGOUT</li>
      @if (roles === "User") {
      <button
        (click)="onUserSettings()"
        class="group flex items-center rounded-full bg-lightBrown px-4 py-2 hover:bg-strongBrown transition-colors duration-200"
      >
        <span class="text-white text-sm font-medium uppercase">Mi perfil</span>
        <div
          class="ml-2 rounded-full bg-lightBrown w-5 h-5 flex items-center justify-center hover:bg-strongBrown transition-colors duration-200"
        >
          <svg
            class="w-3 h-3 text-white"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            ></path>
          </svg>
        </div>
      </button>
      }
    </ul>
  </nav>
</header>
<header
  class="xl:hidden text-white p-4 flex justify-between items-center w-full absolute top-0 z-[60]"
>
  <div class="flex items-center justify-between w-full">
    <div class="flex justify-center items-center" (click)="onHome()">
      <img
        [src]="pullZone + '/assets/blueLogo.png'"
        alt="Logo"
        class="max-h-20 cursor-pointer rounded-lg"
      />
    </div>
    <span
      (click)="toggle()"
      class="material-symbols-outlined text-white text-xl w-4 mr-6 font-bold"
    >
      menu
    </span>
  </div>
</header>
<section
  class="xl:hidden fixed top-0 left-0 w-full h-full montserrat-normal bg-white text-strongBrown z-[60]"
  [@menuAnimation]="isOpen ? 'open' : 'closed'"
>
  <button
    class="xl:hidden text-white focus:outline-none absolute top-[5%] right-[10%]"
    (click)="toggle()"
  >
    <span class="material-symbols-outlined text-blue"> close </span>
  </button>
  <div class="flex justify-start items-center" (click)="onHome()">
    <img
      [src]="pullZone + '/assets/blueLogo.png'"
      alt="Logo"
      class="max-h-20 cursor-pointer rounded-lg"
    />
    <h3 class="text-veige">esencial<span class="text-blue">360</span></h3>
  </div>
  <div class="container mx-auto px-4 mt-16">
    @if(userConnected) {
    <ul class="space-y-4 text-lg font-semibold">
      @if (roles === "User") {
      <div class="flex items-center">
        <span class="text-xl">🔥</span>
        <span class="mr-10 font-semibold text-lg">{{ streak }}</span>
      </div>
      }
      <li (click)="onClasses()" class="ml-2">CLASES</li>
      <li (click)="onMeditations()" class="ml-2">MEDITACIONES</li>
      <li class="ml-2" (click)="onInstructors()">INSTRUCTORES</li>
      <li class="ml-2">
        <a (click)="onCounsel()" class="hover:text-gray-400">CONSEJO</a>
      </li>
      <li class="border-t border-gray-700 pt-4 my-8"></li>
      <li (click)="onSignIn()">SIGN IN</li>
      <li class="" (click)="onContact()">CONTACTANOS</li>
    </ul>
    } @if(!userConnected) {
    <ul class="space-y-4 text-lg font-semibold">
      <li (click)="onClasses()" class="ml-2">CLASES</li>
      <li (click)="onMeditations()" class="ml-2">MEDITACIONES</li>
      <li class="ml-2" (click)="onInstructors()">INSTRUCTORES</li>
      <li class="ml-2">
        <a (click)="onCounsel()" class="hover:text-gray-400">CONSEJO</a>
      </li>
      <li class="border-t border-gray-700 pt-4 my-8"></li>

      <li class="" (click)="signOut()">LOGOUT</li>

      <li class="" (click)="onUserSettings()">SETTINGS</li>

      <!-- <li
        class=""
        (click)="authService.loginWithRedirect({ 
              authorizationParams: {
                  screen_hint: 'signup',
                }, appState: { target: '/subscribe' }})"
      >
        SUBSCRIBITE
      </li> -->
      <!-- <li
      class=""
      (click)="onSignUp()"
    >
      SUBSCRIBITE
    </li> -->
      <li class="" (click)="onContact()">CONTACTANOS</li>
    </ul>
    }
  </div>
</section>
} } @else { @if (!newLanding) {
<header
  class="hidden bg-white bg-gray-800 text-black montserrat-normal text-strongBrown px-20 p-4 xl:flex justify-between items-center w-full sticky top-0 z-[60]"
  style="
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px,
      rgba(35, 41, 54, 0.08) 0px 8px 16px;
  "
>
  <div class="flex justify-center items-center" (click)="onHome()">
    <img
      [src]="pullZone + '/assets/blueLogo.png'"
      alt="Logo"
      class="max-h-20 cursor-pointer rounded-lg"
    />
    <h3 class="text-veige">esencial<span class="text-blue">360</span></h3>
  </div>
  <nav>
    <ul
      class="flex anton items-center uppercase pointer text-base cursor-pointer"
    >
      <li class="mr-10">
        <a (click)="onInstructors()" class="hover:text-gray-400"
          >INSTRUCTORES</a
        >
      </li>
      <li class="mr-10">
        <a (click)="onClasses()" class="hover:text-gray-400">Clases</a>
      </li>
      <!-- <li class="mr-10">
        <a (click)="onAbout()" class="hover:text-gray-400">Nosotros</a>
      </li> -->
      <!-- <li class="mr-10">
        <a (click)="onCommunity()" class="hover:text-gray-400">Comunidad</a>
      </li> -->

      <li class="mr-10" (click)="authService.loginWithRedirect()">
        Inicia Sesion
      </li>
      <button
        (click)="authService.loginWithRedirect({ 
                authorizationParams: {
                    screen_hint: 'signup',
                  }, appState: { target: '/subscribe' }})"
        class="group flex items-center rounded-full bg-lightBrown px-4 py-2 hover:bg-strongBrown transition-colors duration-200"
      >
        <span class="text-white text-sm font-medium uppercase"
          >subscribirse</span
        >
        <div
          class="ml-2 rounded-full bg-lightBrown w-5 h-5 flex items-center justify-center hover:bg-strongBrown transition-colors duration-200"
        >
          <svg
            class="w-3 h-3 text-white"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            ></path>
          </svg>
        </div>
      </button>
    </ul>
  </nav>
</header>

<header
  class="xl:hidden text-white bg-white p-4 flex justify-between items-center w-full sticky top-0 z-[60]"
  style="
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px,
      rgba(35, 41, 54, 0.08) 0px 8px 16px;
  "
>
  <div class="flex items-center justify-between w-full">
    <div class="flex justify-center items-center" (click)="onHome()">
      <img
        [src]="pullZone + '/assets/blueLogo.png'"
        alt="Logo"
        class="max-h-20 cursor-pointer rounded-lg"
      />
      <h3 class="text-veige">esencial<span class="text-blue">360</span></h3>
    </div>
    <span
      (click)="toggle()"
      class="material-symbols-outlined text-blue w-4 mr-6 font-bold"
    >
      menu
    </span>
  </div>
</header>
<section
  class="xl:hidden fixed top-0 left-0 w-full h-full montserrat-normal bg-white text-strongBrown z-[60]"
  [@menuAnimation]="isOpen ? 'open' : 'closed'"
>
  <button
    class="xl:hidden text-white focus:outline-none absolute top-[5%] right-[10%]"
    (click)="toggle()"
  >
    <span class="material-symbols-outlined text-blue"> close </span>
  </button>
  <div class="flex justify-start items-center">
    <img
      [src]="pullZone + '/assets/blueLogo.png'"
      alt="Logo"
      class="max-h-20 cursor-pointer rounded-lg"
      (click)="onHome()"
    />
    <h3 class="text-veige">esencial<span class="text-blue">360</span></h3>
  </div>
  <div class="container mx-auto px-4 mt-16">
    @if(userConnected) {
    <ul class="space-y-4 text-lg font-semibold">
      @if (roles === "User") {
      <div class="flex items-center">
        <span class="text-xl">🔥</span>
        <span class="mr-10 font-semibold text-lg">{{ streak }}</span>
      </div>
      }
      <li (click)="onClasses()" class="ml-2">CLASES</li>
      <li (click)="onMeditations()" class="ml-2">MEDITACIONES</li>
      <li class="ml-2" (click)="onInstructors()">INSTRUCTORES</li>
      <li class="ml-2">
        <a (click)="onCounsel()" class="hover:text-gray-400">CONSEJO</a>
      </li>
      <li class="border-t border-gray-700 pt-4 my-8"></li>
      <li (click)="onSignIn()">SIGN IN</li>
      <li class="" (click)="onContact()">CONTACTANOS</li>
    </ul>
    } @if(!userConnected) {
    <ul class="space-y-4 text-lg font-semibold">
      <li (click)="onClasses()" class="ml-2">CLASES</li>
      <li (click)="onMeditations()" class="ml-2">MEDITACIONES</li>
      <li class="ml-2" (click)="onInstructors()">INSTRUCTORES</li>
      <li class="ml-2">
        <a (click)="onCounsel()" class="hover:text-gray-400">CONSEJO</a>
      </li>
      <li class="border-t border-gray-700 pt-4 my-8"></li>

      <li class="" (click)="signOut()">LOGOUT</li>

      <li class="" (click)="onUserSettings()">SETTINGS</li>

      <!-- <li
        class=""
        (click)="authService.loginWithRedirect({ 
              authorizationParams: {
                  screen_hint: 'signup',
                }, appState: { target: '/subscribe' }})"
      >
        SUBSCRIBITE
      </li> -->
      <!-- <li
      class=""
      (click)="onSignUp()"
    >
      SUBSCRIBITE
    </li> -->
      <li class="" (click)="onContact()">CONTACTANOS</li>
    </ul>
    }
  </div>
</section>
} @else {
<header
  class="hidden text-white text-black montserrat-normal text-strongBrown px-20 xl:flex p-4 xl:absolute justify-between items-center w-full top-0 z-[60]"
>
  <div class="flex justify-center items-center" (click)="onHome()">
    <img
      [src]="pullZone + '/assets/logoWhite.png'"
      alt="Logo"
      class="max-h-20 cursor-pointer rounded-lg"
    />
    <h3 class="text-white text-2xl -ml-6">
      esencial<span class="text-blue">360</span>
    </h3>
  </div>
  <nav>
    <ul
      class="flex anton items-center uppercase pointer text-base cursor-pointer"
    >
      <li class="mr-10">
        <a (click)="onInstructors()" class="hover:text-gray-400"
          >INSTRUCTORES</a
        >
      </li>
      <li class="mr-10">
        <a (click)="onCounsel()" class="hover:text-gray-400">CONSEJO</a>
      </li>
      <li class="mr-10">
        <a (click)="onClasses()" class="hover:text-gray-400">Clases</a>
      </li>
      <li class="mr-10">
        <a (click)="onMeditations()" class="hover:text-gray-400"
          >MEDITACIONES</a
        >
      </li>
      <!-- <li class="mr-10">
        <a (click)="onAbout()" class="hover:text-gray-400">Nosotros</a>
      </li> -->
      <!-- <li class="mr-10">
        <a (click)="onCommunity()" class="hover:text-gray-400">Comunidad</a>
      </li> -->

      <li class="mr-10" (click)="authService.loginWithRedirect()">
        Inicia Sesion
      </li>

      <button
        (click)="authService.loginWithRedirect({ 
                authorizationParams: {
                    screen_hint: 'signup',
                  }, appState: { target: '/subscribe' }})"
        class="group flex items-center rounded-full bg-lightBrown px-4 py-2 hover:bg-strongBrown transition-colors duration-200"
      >
        <span class="text-white text-sm font-medium uppercase"
          >subscribirse</span
        >
        <div
          class="ml-2 rounded-full bg-lightBrown w-5 h-5 flex items-center justify-center hover:bg-strongBrown transition-colors duration-200"
        >
          <svg
            class="w-3 h-3 text-white"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            ></path>
          </svg>
        </div>
      </button>
    </ul>
  </nav>
</header>
<header
  class="xl:hidden text-white bg-transparent p-4 flex justify-between items-center w-full absolute top-0 z-[60]"
>
  <div class="flex items-center justify-between w-full">
    <div class="flex justify-center items-center" (click)="onHome()">
      <img
        [src]="pullZone + '/assets/blueLogo.png'"
        alt="Logo"
        class="max-h-20 cursor-pointer rounded-lg"
      />
      <h3 class="text-veige">esencial<span class="text-blue">360</span></h3>
    </div>
    <span
      (click)="toggle()"
      class="material-symbols-outlined text-white w-4 mr-6 font-bold"
    >
      menu
    </span>
  </div>
</header>
<section
  class="xl:hidden fixed top-0 left-0 w-full h-full montserrat-normal bg-white text-strongBrown z-[60]"
  [@menuAnimation]="isOpen ? 'open' : 'closed'"
>
  <button
    class="xl:hidden text-white focus:outline-none absolute top-[5%] right-[10%]"
    (click)="toggle()"
  >
    <span class="material-symbols-outlined text-blue"> close </span>
  </button>
  <div class="flex justify-start items-center" (click)="onHome()">
    <img
      [src]="pullZone + '/assets/blueLogo.png'"
      alt="Logo"
      class="max-h-20 cursor-pointer rounded-lg"
    />
    <h3 class="text-veige">esencial<span class="text-blue">360</span></h3>
  </div>
  <div class="container mx-auto px-4 mt-16">
    @if(userConnected) {
    <ul class="space-y-4 text-lg font-semibold">
      @if (roles === "User") {
      <div class="flex items-center">
        <span class="text-xl">🔥</span>
        <span class="mr-10 font-semibold text-lg">{{ streak }}</span>
      </div>
      }
      <li (click)="onClasses()" class="ml-2">CLASES</li>
      <li (click)="onMeditations()" class="ml-2">MEDITACIONES</li>
      <li class="ml-2" (click)="onInstructors()">INSTRUCTORES</li>
      <li class="ml-2">
        <a (click)="onCounsel()" class="hover:text-gray-400">CONSEJO</a>
      </li>
      <li class="border-t border-gray-700 pt-4 my-8"></li>
      <li (click)="onSignIn()">SIGN IN</li>
      <li class="" (click)="onContact()">CONTACTANOS</li>
    </ul>
    } @if(!userConnected) {
    <ul class="space-y-4 text-lg font-semibold">
      <li (click)="onClasses()" class="ml-2">CLASES</li>
      <li (click)="onMeditations()" class="ml-2">MEDITACIONES</li>
      <li class="ml-2" (click)="onInstructors()">INSTRUCTORES</li>
      <li class="ml-2">
        <a (click)="onCounsel()" class="hover:text-gray-400">CONSEJO</a>
      </li>
      <li class="border-t border-gray-700 pt-4 my-8"></li>

      <li class="" (click)="onSignIn()">SIGN IN</li>
      <li
        class=""
        (click)="authService.loginWithRedirect({ 
              authorizationParams: {
                  screen_hint: 'signup',
                }, appState: { target: '/subscribe' }})"
      >
        SUBSCRIBITE
      </li>
      <!-- <li
      class=""
      (click)="onSignUp()"
    >
      SUBSCRIBITE
    </li> -->
      <li class="" (click)="onContact()">CONTACTANOS</li>
    </ul>
    }
  </div>
</section>
} }
