@if (isLoading) {
<app-loading></app-loading>
} @else { @if (authService.user$ | async; as user) { @if (showRecommendation) {
<app-recommendation-classes
  (recommendationProcess)="onRemoveRecommendation()"
  (isRecommendationDone)="onRecommendationDone()"
></app-recommendation-classes>
}
<div
      class="flex md:flex-row h-[60vh] flex-col items-center justify-around bg-white px-8 py-16 rounded-xl max-w-6xl mx-auto"
    >
      <div class="flex-1 pr-8">
        <h2 class="!text-4xl font-bold text-strongBrown mb-4">
          Bienvenido {{ user.given_name ? user.given_name : user.nickname }}
        </h2>
        <p class="text-olive-600 text-lg">
          Gira, fluye, equilibra y estira con esta colección de clases de yoga en
          español.
        </p>
      </div>
      <div class="mt-5 md:mt-0 md:w-1/2">
        <img
          src="../../../assets/images/yoga1.jpg"
          alt="Person doing yoga"
          class="rounded-xl object-cover w-full h-64"
        />
      </div>
    </div>
}
<app-popular-classes-and-instructors></app-popular-classes-and-instructors>
<app-classes-catalogue
  [collectionName]="'CATEGORIAS'"
  [collectionSubtitle]="
    'Empieza el bienestar de tu dia con alguna de nuestras categorias'
  "
  [collectionList]="collectionList"
></app-classes-catalogue>
<app-instructors-overview></app-instructors-overview>
<app-catalogue-view
  [title]="'EVENTOS Y NOTICIAS'"
  [subtitle]="'Descrube lo que esta pasando en la comunidad de Esencial360'"
  [description]="
    'Weekly inspiration for mindful living. Discover yoga sequences, short workouts, recipes, and mindfulness tips from the experts.'
  "
  [catalogue]="blogs"
></app-catalogue-view>
<app-catalogue-view
  [title]="'OUR BLOG'"
  [subtitle]="'CHECK OUT OUR BLOG'"
  [description]="
    'Weekly inspiration for mindful living. Discover yoga sequences, short workouts, recipes, and mindfulness tips from the experts.'
  "
  [catalogue]="blogs"
></app-catalogue-view>
}
<!-- } -->
