<app-header></app-header>
@if (isLoading) {
<app-loading></app-loading>
} @else {
<app-page-title
  [pageTitle]="videos?.title"
  [pageDescription]="'Disfruta de tu clase con Jane Doe.'"
  [arrowBack]="true"
></app-page-title>
@if (roles === 'Admin') {
<app-button
  (click)="deleteVideo()"
  [text]="'BORRAR EL VIDEO'"
  class="flex justify-center py-2 px-4 w-full mb-8 text-black rounded-md"
></app-button>
}
<div
  #dialogAnchor
  class="cdk-visually-hidden"
  cdkTrapFocus
  class="flex flex-col md:flex-row items-center md:items-start justify-center bg-white p-6 md:p-10 mx-4 rounded-xl shadow-xl montserrat-normal space-y-6 md:space-y-0 md:space-x-8"
>
  <div
    class="md:w-1/2 w-full mt-6 md:mt-0"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <!-- Video Wrapper with Responsive Aspect Ratio -->
    <div
      class="relative w-full h-0 pb-[56.25%] rounded-lg overflow-hidden shadow-lg"
    >
      <iframe
        #bunnyVideo
        [src]="link"
        loading="lazy"
        class="absolute top-0 left-0 w-full h-full border-none rounded-lg"
        allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <!-- Floating Like Button -->
    <div class="relative mt-4">
      <button
        (click)="toggleLike()"
        class="absolute top-2 right-2 p-3 rounded-full backdrop-blur-md bg-gray-900/60 text-yellow-400 hover:bg-yellow-500 hover:text-white transition-all duration-300 shadow-xl"
        aria-label="Toggle Favorite"
      >
        {{ isLiked ? "⭐" : "☆" }}
      </button>
    </div>
  </div>
</div>

@if (roles === 'Admin' || roles === 'Instructor') {
<app-page-title [pageDescription]="'Estadisticas del video'"></app-page-title>
<app-class-statistics
  [videoGuid]="videoId"
  class="flex justify-center"
></app-class-statistics>
}
<app-page-title
  [pageDescription]="'Descubre nuestra gran variedad de clases'"
></app-page-title>
}
<app-footer></app-footer>
