<div
  class="grid grid-cols-1 md:grid-cols-3 gap-6"
  data-aos="fade-up"
  data-aos-duration="1000"
>
  @for (class of classes; track $index) {
  <div class="flex flex-col">
    <div
      (click)="allInfo ? onClassSelected(class.video) : onClassSelected(class.video.guid)"
      class="relative overflow-hidden rounded-xl shadow-lg max-w-md cursor-pointer transition-transform transform hover:scale-105 hover:shadow-2xl"
    >
      <div class="relative">
        <img
          [src]="class?.safeThumbnail?.changingThisBreaksApplicationSecurity"
          alt="Class Thumbnail"
          class="w-full h-56 object-cover rounded-xl"
        />

        <div class="absolute inset-0 bg-black bg-opacity-50"></div>

        <div
          class="absolute top-2 left-2 bg-white text-strongBrown px-3 py-1 rounded-lg text-xs font-semibold shadow-md"
        >
          {{class.video.length | formatDuration }}
        </div>

        <h2
          class="absolute inset-0 flex items-center justify-center text-white text-lg font-bold uppercase text-center px-4"
        >
          {{ class.video.title }}
        </h2>

        <div
          class="absolute inset-0 flex justify-center items-center opacity-0 hover:opacity-100 transition-opacity"
        >
          <span class="material-symbols-outlined text-white text-7xl"
            >play_circle</span
          >
        </div>
      </div>
    </div>
    @if (!hideStatistics) {
      <app-class-statistics
      [videoSource]="videoSource"
      [adminView]="true"
      [videoGuid]="class?.video?.guid"
      [previewView]="true"
    ></app-class-statistics>
    }
  </div>
  }
</div>
