<app-header></app-header>
@if(firstStep) {
  <div class="relative max-w-lg mx-auto">
    <form
      [formGroup]="newVideoForm"
      class="bg-white shadow-lg rounded-xl p-8 space-y-6"
    >
      <!-- Title Input -->
      <div>
        <label class="block text-gray-800 font-semibold mb-1" for="title">
          Title
        </label>
        <input
          class="w-full p-3 border rounded-lg focus:ring focus:ring-gray-300 focus:outline-none"
          id="title"
          type="text"
          placeholder="Enter blog title"
          formControlName="title"
          [ngClass]="{
            'border-red-500': newVideoForm.get('title')?.invalid &&
                              (newVideoForm.get('title')?.dirty || newVideoForm.get('title')?.touched)
          }"
        />
        <div
          *ngIf="newVideoForm.get('title')?.invalid &&
                (newVideoForm.get('title')?.dirty || newVideoForm.get('title')?.touched)"
          class="text-red-500 text-sm mt-1"
        >
          Title is required.
        </div>
      </div>

      <!-- Category Select -->
      <div>
        <label class="block text-gray-800 font-semibold mb-1" for="collectionId">
          Category
        </label>
        <select
          class="w-full p-3 border rounded-lg focus:ring focus:ring-gray-300 focus:outline-none"
          id="collectionId"
          formControlName="collectionId"
        >
          <option value="" disabled selected>Select a Category</option>
          @for(collection of collectionList; track $index;) {
            <option [value]="collection.guid">{{ collection.name }}</option>
          }
        </select>
      </div>

      <!-- Thumbnail Time Input -->
      <div>
        <label class="block text-gray-800 font-semibold mb-1" for="thumbnailTime">
          Thumbnail Time (MS)
        </label>
        <input
          class="w-full p-3 border rounded-lg focus:ring focus:ring-gray-300 focus:outline-none"
          id="thumbnailTime"
          type="number"
          placeholder="Enter thumbnail time"
          formControlName="thumbnailTime"
          [ngClass]="{
            'border-red-500': newVideoForm.get('thumbnailTime')?.invalid &&
                              (newVideoForm.get('thumbnailTime')?.dirty || newVideoForm.get('thumbnailTime')?.touched)
          }"
        />
      </div>

      <!-- Instructor Select -->
      <div>
        <label class="block text-gray-800 font-semibold mb-1" for="instructor">
          Instructor
        </label>
        <select
          class="w-full p-3 border rounded-lg focus:ring focus:ring-gray-300 focus:outline-none"
          id="instructor"
          formControlName="instructor"
        >
          <option value="" selected>No Instructor</option>
          @for(singleInstructor of instructors; track $index;) {
            <option [value]="singleInstructor._id">
              {{ singleInstructor.firstname }} {{singleInstructor.lastname}}
            </option>
          }
        </select>
      </div>

      <!-- Submit Button -->
      <div>
        <button
          type="submit"
          (click)="onSubmit()"
          class="w-full py-3 bg-black text-white font-semibold rounded-lg hover:bg-gray-800 transition duration-200"
        >
          CREATE VIDEO
        </button>
      </div>
    </form>
  </div>
}

@if (secondStep) {
  <input type="file" #videoInput (change)="onFileSelected($event)" />
  <button (click)="onUploadVideo()">Upload Video</button>
}
@if(thirdStep) {
  <div class="flex flex-col justify-center items-center h-full">
    <app-check-mark></app-check-mark>
    <div class="md:mx-10 mx-2 text-center">
      <h4>Para nosotros, tu participación es ESENCIAL.</h4>
      <p class="my-4">
        ¡Muchas gracias por tu video! El video con tu material se ha
        enviado exitosamente. Lo revisamos y de daremos feedback.
      </p>
      <h4>El equipo de ESENCIAL360</h4>
    </div>
    <div class="mt-5" (click)="onProcessDone()">
      <app-button [text]="'HOME'"></app-button>
    </div>
  </div>
}
<app-footer></app-footer>
