@if (isLoading) {
<app-loading></app-loading>
} @else { @if (authService.user$ | async; as user) {
<div
  class="flex md:flex-row h-[60vh] flex-col items-center justify-around px-8 py-16 max-w-7xl mx-auto montserrat-normal"
>
  <div class="mt-5 md:mt-0 md:w-1/2">
    <img
      [src]="instructorImage"
      alt="Person doing yoga"
      class="rounded-xl object-cover w-10/12 h-64"
    />
  </div>
  <div class="flex-1">
    <h2 class="!text-4xl font-bold text-strongBrown uppercase mb-4">
      ¡Bienvenido {{ user["username"] ? user["username"] : user.nickname }}!
    </h2>
    <br />
    <p class="text-olive-600 text-lg">
      ¡Gracias por ser parte esencial de esta comunidad! Tu guía inspira y
      transforma en cada clase.
      <br /><br />
      Sigue compartiendo con intención y pasión, impactando la práctica y el
      crecimiento de cada alumno.
      <br /><br />
      <!-- <app-button (onActionTrigger)="onNewClass()" [bgColor]="'bg-blue'" [text]="'Subir una clase'"></app-button> -->
    </p>
  </div>
</div>
@if (!isLoading) {
<section class="modern-tabs">
  <app-instructor-profile [filters]="filters"></app-instructor-profile>
</section>
} } }
