@if (instructorView) {
<div class="container mx-auto px-4 py-12 text-center montserrat-normal">
  <div
    class="flex flex-col justify-center mb-12 items-center"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    @if (instructorView) {
    <h2 class="mb-2 text-blue text-sm">PROCESO PARA NUEVOS INSTRUCTORES</h2>
    }
    <h1 class="text-4xl font-bold text-strongBrown mb-4 uppercase">
      {{
        instructorView
          ? "EMPIEZA TU PROCESO PARA CONVERTIRTE EN INSTRUCTOR"
          : "Find out more about our events and retreats"
      }}
    </h1>
    <p class="text-strongBrown max-w-4xl mx-auto">
      ¡Somos el espacio para ti, porque sabemos que tu conocimiento y pasión por
      lo que haces, debe ser compartido! Nuestra motivación, es generar una
      comunidad sólida que aporte a todo hispanoparlante, las mejores
      oportunidades para explorar su mejor versión. ¿Cómo? Con prácticas, foros,
      blogs, talleres y demás espacios que incluyan TU sello particular y el de
      más profesionales destacados como tú. Sabemos que eres un candidato ideal
      para pertenecer a este espacio ESENCIAL. ¡Únete!
    </p>
  </div>
  <div class="mb-12" data-aos="fade-up" data-aos-duration="1000">
    <img
      [src]="pullZone + '/assets/3.png'"
      alt="Yoga at sunset"
      class="w-full h-96 object-cover rounded-lg shadow-lg"
    />
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-8"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div *ngFor="let feature of retreatFeatures">
      <h3 class="text-xl font-semibold text-gray-800 mb-3">
        {{ feature.title }}
      </h3>
      <p class="text-gray-600">{{ feature.description }}</p>
    </div>
  </div>
</div>
} @else {
<div
  class="container mx-auto px-4 py-12 text-center montserrat-normal rounded-3xl my-10"
  [ngClass]="instructorCatalogueView ? 'bg-bone w-9/12' : 'containerSection'"
>
  <div class="flex flex-col lg:flex-row">
    <div class="flex flex-col justify-evenly items-center md:h-96">
      <img [src]="pullZone + '/assets/blueLogo.png'" class="h-[10rem] lg:h-48 bg-cover w-[8rem]" alt="" />
      @if (!instructorCatalogueView) {
      <h2 class="text-4xl lg:text-7xl text-white mb-4 ">
        ¡Descubre <span class="lowercase">e</span>sencial<span class="text-blue">360!</span>
      </h2>
      } @else {
      <h2 class="lg:text-7xl text-strongBrown mb-4 uppercase">
        Conviertete en guía <span class="lowercase">e</span><span class="text-blue">360</span>
      </h2>
      }
    </div>
    <div class="mb-12" data-aos="fade-up" data-aos-duration="1000">
      <img
        [src]="
          instructorCatalogueView
            ? pullZone + '/assets/9.png'
            : pullZone + '/assets/3.png'
        "
        alt="Yoga at sunset"
        class="w-full lg:h-96 object-contain lg:object-cover rounded-lg lg:shadow-xl"
      />
    </div>
  </div>
  <div
    class="flex flex-row justify-center mb-12 items-center mt-4 lg:mt-12"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    @if (instructorCatalogueView) {
    <div class="flex flex-col text-start">
      <p
        class="text-strongBrown max-w-4xl mx-auto text-start font-bold text-xl"
      >
        Con <span class="lowercase">esencial<span class="text-blue">360</span></span
        >, no solo amplías tu alcance, sino que también te rodeas de colegas
        expertos con quienes podrás aprender y crecer, recibiendo asesoría
        continua. <br />
        <br />
        Súmate y accede a beneficios exclusivos diseñados para potenciar tu
        enseñanza:
        <br />
        <br />
      </p>
      <h4 class="text-blue font-bold my-4">Crecimiento y comunidad</h4>
      <ul>
        <li class="my-2">
          ✔️ Ser parte de una comunidad avalada por expertos del consejo
          esencial360.
        </li>
        <li class="my-2">
          ✔️ Espacios de retroalimentación y capacitación con otros yoguis.
        </li>
        <li class="my-2">✔️ Organización de eventos y talleres exclusivos.</li>
      </ul>
      <h4 class="text-blue font-bold my-4">Expansión y visibilidad</h4>
      <ul>
        <li class="my-2">
          ✔️ Promoción interna de tu marca o estudio personal.
        </li>
        <li class="my-2">
          ✔️ Alcance y presencia con una comunidad de +1000 practicantes.
        </li>
        <li class="my-2">
          ✔️ Asesoramiento para la producción de tu contenido.
        </li>
      </ul>
      <h4 class="text-blue font-bold my-4">Beneficios y recompensas</h4>
      <ul>
        <li class="my-2">
          ✔️ 25% de comisión por cada alumno recomendado que se inscriba.
        </li>
        <li class="my-2">
          ✔️ Descuento especial para instructores y acceso total a la
          plataforma.
        </li>
        <li class="my-2">
          ✔️ Bonificaciones y beneficios adicionales en reconocimiento a tu
          impacto
        </li>
      </ul>

      <h4 class="text-blue font-bold mt-5 text-xl">
        ¡Comparte tu práctica en cualquier lugar y en cualquier momento!
      </h4>

      <app-button
        [width]="'w-[20rem]'"
        [height]="'h-[3rem]'"
        [text]="'¡Quiero Aplicar!'"
        [bgColor]="'bg-blue'"
        class="flex justify-center mt-10"
        (click)="onInstructorContact()"
      ></app-button>
    </div>
    } @else {
    <p class="text-strongBrown max-w-4xl mx-auto text-start text-white">
      <span class="text-white">esencial<span class="text-blue">360</span></span>
      nace de nuestra pasión por el bienestar y el deseo de crear un espacio
      accesible y enriquecedor para el desarrollo personal. Por eso reunimos a
      los mejores profesionales del yoga, meditación y el desarrollo personal,
      para ofrecerte herramientas esenciales que transformen tu día a día.
      <br />
      <br />
      Como latinas expat, sabemos lo importante que es sentirse acompañadas en
      el camino de crecimiento personal especialmente cuando estamos lejos de
      casa, por eso esencial360 es también una comunidad de sangre latina
      orgullosa de sus raíces y dispuesta a brindar apoyo y compañía en el
      proceso de cada una de sus integrantes.
      <br />
      <br />
      Desde el inicio, nos propusimos un compromiso inquebrantable brindarte
      contenido de calidad, veráz y profesional. Para ello, contamos con un
      equipo excepcional de instructores y facilitadores, así como con un
      Consejo de Expertos esencial360, que supervisa y enriquece cada
      experiencia que llega a ti.
      <br />
      <br />
      esencial360 es el espacio que elevará tu bienestar a cualquier hora, en
      cualquier lugar.
      <br />
      <br />
      ¡Nos emociona que seas parte de esta comunidad! Te vemos en clase.
      <br />
      <br />
      <span class="italic">-Caro, Lulú y Pau.</span>
    </p>
    }
  </div>
  @if (!instructorCatalogueView) {
  <app-banner
    [title]="'¡Contenido de calidad garantizado!'"
    [description]="
      'Nuestro Consejo de Expertos avala y enriquece cada contenido de esencial360 asegurando calidad, veracidad y transformación.'
    "
    [buttonText]="'¡Conoce al consejo e360!'"
    [description]="
      'Nuestro Consejo de Expertos avala y enriquece cada contenido de esencial360 asegurando calidad, veracidad y transformación.'
    "
    [image]="pullZone + '/assets/1.png'"
    [addMargin]="true"
    [contact]="true"
     (onActionButton)="onCounselCatalogue()"
  ></app-banner>
  <app-banner
    [title]="'¡Aprende de los mejores!'"
    [description]="
      'Nuestro equipo de instructores está aquí para guiarte con conocimiento, experiencia y pasión por su materia.'
    "
    [addMargin]="true"
    [contact]="true"
    [buttonText]="'¡Conoce a los instructores e360!'"
    [image]="pullZone + '/assets/9.png'"
    (onActionButton)="onInstructorCatalogue()"
  ></app-banner>
  <app-banner
    [title]="'¿Quieres ser instructor e360?'"
    [description]="
      'Forma parte de nuestro equipo de instructores y ayuda a expandir el bienestar de tus alumnos a través de esencial360.'
    "
    [addMargin]="true"
    [contact]="true"
    [buttonText]="'¡Quiero ser instructor e360!'"
    [image]="pullZone + '/assets/1.png'"
    (onActionButton)="onInstructorContact()"
  ></app-banner>
  }
</div>
}
