<div class="container mx-auto px-4 py-12 text-center montserrat-normal">
  <div
    class="flex flex-col justify-center mb-12 items-center"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <h2 class="mb-2 text-blue text-sm">
      {{ instructorView ? "PROCESO PARA NUEVOS INSTRUCTORES" : "EVENTS & RETREATS" }}
    </h2>
    <h1 class="text-4xl font-bold text-strongBrown mb-4 uppercase">
      {{instructorView ? 'EMPIEZA TU PROCESO PARA CONVERTIRTE EN INSTRUCTOR' : 'Find out more about our events and retreats'}}
    </h1>
    <p class="text-strongBrown max-w-4xl mx-auto">
      ¡Somos el espacio para ti, porque sabemos que tu conocimiento y pasión por lo que haces, debe ser compartido!
      Nuestra motivación, es generar una comunidad sólida que aporte a todo hispanoparlante, las mejores oportunidades para explorar su mejor versión. ¿Cómo?  Con prácticas, foros, blogs, talleres y demás espacios que incluyan TU sello particular y el de más profesionales destacados como tú. Sabemos que eres un candidato ideal para pertenecer a este espacio ESENCIAL. ¡Únete!
    </p>
  </div>
  <div class="mb-12" data-aos="fade-up" data-aos-duration="1000">
    <img
      src="../../../assets/images/3.png"
      alt="Yoga at sunset"
      class="w-full h-96 object-cover rounded-lg shadow-lg"
    />
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-8"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div *ngFor="let feature of retreatFeatures">
      <h3 class="text-xl font-semibold text-gray-800 mb-3">
        {{ feature.title }}
      </h3>
      <p class="text-gray-600">{{ feature.description }}</p>
    </div>
  </div>
</div>
