<mat-tab-group
  fitInkBarToContent
  mat-stretch-tabs="false"
  mat-align-tabs="center"
  class="custom-tab-group"
>
  @if(showTab('CAMBIA TU CONTRASEÑA')) {
  <mat-tab label="CAMBIA TU CONTRASEÑA">
    <div class="min-h-[60vh]">
      <h2>Change Password</h2>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="currentPassword">Current Password:</label>
          <input
            type="password"
            id="currentPassword"
            formControlName="currentPassword"
            required
          />
          <div
            *ngIf="
              passwordForm.controls['currentPassword'].invalid &&
              passwordForm.controls['currentPassword'].touched
            "
          >
            <p>Current password is required.</p>
          </div>
        </div>
        <div>
          <label for="newPassword">New Password:</label>
          <input
            type="password"
            id="newPassword"
            formControlName="newPassword"
            required
          />
          <div
            *ngIf="
              passwordForm.controls['newPassword'].invalid &&
              passwordForm.controls['newPassword'].touched
            "
          >
            <p>New password is required.</p>
          </div>
        </div>
        <div>
          <label for="confirmPassword">Confirm Password:</label>
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            required
          />
          <div
            *ngIf="
              passwordForm.controls['confirmPassword'].invalid &&
              passwordForm.controls['confirmPassword'].touched
            "
          >
            <p>Confirm password is required.</p>
          </div>
          <div *ngIf="passwordForm.hasError('mismatch')">
            <p>New password and confirm password do not match.</p>
          </div>
        </div>
        <button type="submit" [disabled]="passwordForm.invalid">
          Change Password
        </button>
      </form>
      <p *ngIf="message">{{ message }}</p>
    </div>
  </mat-tab>
  } @if(showTab('MANEJA TU SUBSCRIPCION')) {
  <mat-tab label="MANEJA TU SUBSCRIPCION">
    <div class="flex flex-col justify-center items-center mt-10 min-h-[60vh]">
      <p>No cuentas con ninguna membresia activa</p>
      <button
        class="bg-blue text-white px-6 py-2 mt-4 rounded-full flex items-center relative"
      >
        Activa tu membresia
      </button>
      <img
        src="../../../assets/images/yoga1.jpg"
        alt="Person doing yoga"
        class="rounded-xl object-cover w-10/12 lg:w-1/4 h-64 my-20"
      />
    </div>
  </mat-tab>
  } @if (showTab('FAVORITOS')) {
  <mat-tab label="FAVORITOS">
    <app-favorite-classes
      [favoriteClasses]="videos"
    ></app-favorite-classes>
    <app-previous-classes
      [previousClasses]="previousClasses"
    ></app-previous-classes>
  </mat-tab>
  } @if (showTab('BADGES')) {
  <mat-tab label="BADGES">
    <app-badges [badges]="badges" [futureBadges]="futureBadges"></app-badges>
  </mat-tab>
  }
</mat-tab-group>
