@if (isLoading) {
<app-loading></app-loading>
} @else { @if (authService.user$ | async; as user) {
<div
  class="flex md:flex-row h-[60vh] flex-col items-center justify-around px-8 py-16 rounded-xl  mx-auto montserrat-normal bg-bone"
>
  <div class="flex-1 lg:px-40">
    <h2 class="!text-4xl font-bold text-strongBrown uppercase mb-4">
      Bienvenido a esencial<span class="text-blue">360</span>
    </h2>
    <br />
    <p class="text-olive-600 text-lg">
      Desde aquí, gestionas la comunidad, las clases y la experiencia de cada
      usuario. Tu labor impulsa el crecimiento de este espacio y mantiene viva
      la esencia de nuestra plataforma.

      <br /><br />
      <span class="font-bold">
        Gracias por ser parte de este camino.
      </span>
      <br /><br />
    </p>
  </div>
  <div class="mt-5 md:mt-0 md:w-1/2">
    <img
      src="../../../assets/images/yoga1.jpg"
      alt="Person doing yoga"
      class="rounded-xl object-cover w-10/12 h-64"
    />
  </div>
</div>
<app-banner-v2
  [reverse]="true"
  [text]="
    'El sol, nuestra fuente de energía,  crecimiento y vida, representa un símbolo de vitalidad, prosperidad y nuevos comienzos.'
  "
  [image]="'/assets/images/jaguar.png'"
></app-banner-v2>
<section class="modern-tabs">
  <app-admin-profile [filters]="filters"></app-admin-profile>
</section>
} }
