<app-header></app-header>
<app-page-title [pageTitle]="'SOBRE NOSOTROS'" [arrowBack]="true"></app-page-title>
<div class="bg-gray-100 py-16">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <img src="about-us.jpg" alt="About Us" class="rounded-lg shadow-md" />
      </div>
      <div>
        <h1 class="text-4xl font-bold mb-4">Misión</h1>
        <p class="text-lg mb-8">
          Nuestra misión es acompañarte en tu camino hacia un estilo de vida consciente y equilibrado. A través de prácticas de yoga, meditaciones y herramientas de desarrollo personal, buscamos inspirar y motivar a nuestra comunidad para que vivan plenamente.
        </p>
        <h2 class="text-2xl font-bold mb-2">Visión </h2>
        <p class="text-gray-600 mb-8">
          Aspiramos a ser la plataforma líder de prácticas de yoga y bienestar integral en habla hispana, reconocida en México y, a largo plazo, en toda Latinoamérica. Queremos estar en la mente de quienes buscan una metodología integral que les permita conectar con su bienestar diariament
        </p>
        <h2 class="text-2xl font-bold mb-2">Valores</h2>
        <p class="text-gray-600 mb-8">
          En Esencial360 creemos en la transparencia, la honestidad, el crecimiento integral, la comunidad, la inclusión, la integridad, y la calidad profesional en cada acción.
        </p>
        <a
          href="#"
          class="inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
          >Contact Us</a
        >
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>