<app-header [newLanding]="true"></app-header>
<section class="h-full relative">
  <app-parallax [imagePath]="'assets/images/yoga1.jpg'"></app-parallax>
  <div
    class="text-white montserrat-normal absolute -translate-x-2/4 -translate-y-1/2 top-1/2 left-2/4 text-center w-full lg:w-8/12"
  >
    <h2 class="font-bold text-5xl uppercase lg:text-7xl">
      ¡aprende e inspira!
    </h2>
    <p class="text-xl mt-5">
      Descubre a los guías que te acompañarán en tu crecimiento personal o únete
      a nuestro equipo compartiendo tu conocimiento con la comunidad e360.
    </p>
  </div>
  <span
    class="material-symbols-outlined -translate-x-2/4 z-10 absolute text-4xl text-white bottom-[10%] left-2/4 cursor-pointer"
    (click)="scrollArrow()"
  >
    keyboard_arrow_down
  </span>
</section>
<div class="bg-white">
  <app-instructor-counselor-preview
  [title]="'Conoce a tus guías'"
  [team]="instructors"
  (teamAction)="onInstructor($event)"
></app-instructor-counselor-preview>
  <app-banner-v2
    [title]="'despierta tu jaguar interior.'"
    [text]="
      'Venerado por mayas, aztecas y otras culturas indígenas, el jaguar simboliza  liderazgo, poder, intuición y protección, siendo un guía espiritual y físico en las comunidades indígenas.'
    "
    [image]="'/assets/images/jaguar.png'"
  ></app-banner-v2>
  <app-news-and-blogs [instructorCatalogueView]="true"></app-news-and-blogs>
</div>
<app-footer></app-footer>
