<app-header [newLanding]="true"></app-header>

<section class="h-full relative">
  <app-parallax [imagePath]="'assets/images/18.jpg'"></app-parallax>
  <div
    class="text-white montserrat-normal absolute -translate-x-2/4 -translate-y-1/2 top-1/2 left-2/4 text-center lg:w-9/12"
  >
    <h1 class="font-bold text-3xl uppercase lg:text-7xl">
      Únete como guía esencial360
    </h1>
  </div>
  <span
    (click)="scrollArrow()"
    class="material-symbols-outlined -translate-x-2/4 z-10 absolute text-4xl text-white bottom-[10%] left-2/4 cursor-pointer"
  >
    keyboard_arrow_down
  </span>
</section>
<div
  class="flex flex-col bg-white p-6 text-center md:mx-10 rounded-lg montserrat-normal"
>
  <section
    class="container mx-auto px-4 py-8"
    data-aos="fade-up"
    data-aos-duration="1000"
    id="scrollContent"
  >
    <app-banner-v2
      class="my-5"
      [title]="'estas en el lugar correcto.'"
      [text]="
        'Si eres instructor de Yoga, o facilitador de alguna las disciplinas siguientes, y quieres que tu práctica, material y/o clases tengan la mejor plataforma para ser vistas por cientos de alumnos y usuarios, estás en el lugar ideal.'
      "
      [image]="'/assets/images/logoBlue.png'"
      [reverse]="true"
    ></app-banner-v2>
    @for (service of services; track $index) {
    <app-banner-v2
      class="my-5"
      [title]="service.title"
      [text]="service.description"
      [image]="service.image"
      [reverse]="$index % 2 !== 0"
    ></app-banner-v2>
    }
  </section>
  <app-banner
    [title]="'un paso más cerca de alcanzar tus metas.'"
    [addMargin]="true"
    [contact]="true"
    (onActionButton)="onContinueToForm()"
    [buttonText]="'EMPEZAR EL PROCESO'"
  ></app-banner>
</div>

<app-dialog-form
  [isOpen]="formView ? true : false"
  (onCloseDialog)="onDialogClosed()"
  (processComplete)="(processComplete)"
></app-dialog-form>
<app-footer></app-footer>
