.parallax-container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .parallax-container {
    background-attachment: scroll !important;
    background-position: center center !important;
    background-size: cover !important;
  }
}
