<mat-tab-group
  fitInkBarToContent
  mat-stretch-tabs="false"
  mat-align-tabs="center"
  class="custom-tab-group"
>
  @if(showTab('MIS CLASES')) {
  <mat-tab label="MIS CLASES">
    <app-class-status
      [pendingVideos]="pendingVideosCount"
      [approvedVideos]="totalVideosCount"
    ></app-class-status>
    <app-page-title
      [pageDescription]="'Haz click para subir una nueva clase.'"
    ></app-page-title>

    <!-- <div class="w-full flex justify-center">
      <button
        (click)="onUploadVideo()"
        class="group flex items-center mb-4 justify-center rounded-full w-10/12 lg:w-1/4 bg-lightBrown px-4 py-4 hover:bg-strongBrown transition-colors duration-200"
      >
        <span class="text-white text-sm font-medium uppercase"
          >SUBE UNA CLASE</span
        >
      </button>
    </div> -->
    <section class="container mx-auto px-4 py-8 montserrat-normal min-h-[60vh]">
      <app-class-thumbnail
        [classes]="videos"
        (actionClassSelected)="onWatchSingleClass($event)"
      ></app-class-thumbnail>
    </section>
  </mat-tab>
  } @if (showTab('PAGOS')) {
  <mat-tab label="PAGOS">
    <app-payments [payments]="payments"></app-payments>
  </mat-tab>
  } @if (showTab('CODIGO')) {
  <mat-tab label="CODIGO">
    <app-qr></app-qr>
  </mat-tab>
  }
</mat-tab-group>
