<mat-tab-group
  fitInkBarToContent
  mat-stretch-tabs="false"
  mat-align-tabs="center"
  class="custom-tab-group"
>
  @if(showTab('MIS CLASES')) {
  <mat-tab label="MIS CLASES">
    <app-page-title
      [pageDescription]="'Haz click para subir un nuevo video.'"
    ></app-page-title>
    <div class="w-full flex justify-center">
      <button
        (click)="onUploadVideo()"
        class="group flex items-center mb-4 justify-center rounded-full w-10/12 lg:w-1/4 bg-lightBrown px-4 py-4 hover:bg-strongBrown transition-colors duration-200"
      >
        <span class="text-white text-sm font-medium uppercase"
          >SUBE UNA CLASE</span
        >
      </button>
    </div>
    <section class="container mx-auto px-4 py-8 montserrat-normal min-h-[60vh]">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        @for(video of videos; track $index;) {

        <div
          class="bg-white rounded-lg shadow-md overflow-hidden cursor-pointer"
          (click)="onWatchSingleClass(video.video)"
        >
          <img
            [src]="video.safeThumbnail.changingThisBreaksApplicationSecurity"
            [alt]="video.safeThumbnail.changingThisBreaksApplicationSecurity"
            class="w-full h-48 object-cover"
          />
          <div class="p-4">
            <div class="flex items-center text-sm text-blue mb-2">
              <span>Esencial360</span>
              <span class="mx-2">•</span>
            </div>
            <h3 class="text-xl text-strongBrown font-semibold mb-2 capitalize">
              {{ video.video.title }}
            </h3>
            <p class="text-strongBrown mb-4">
              Breathing plays an essential role in our well-being. Follow the
              advice of Dr. Marie
            </p>
            <div class="flex items-center justify-between">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </div>
        </div>
        }
      </div>
    </section>
  </mat-tab>
  } @if (showTab('PAGOS')) {
  <mat-tab label="PAGOS">
    <app-payments [payments]="payments"></app-payments>
  </mat-tab>
  } @if (showTab('CODIGO')) {
  <mat-tab label="CODIGO">
    <app-qr></app-qr>
  </mat-tab>
  } @if(showTab('MIS CLASES')) {
  <mat-tab label="EDITA TU PERFILE">
    <!-- <div class="min-h-[60vh]">
        @if(authService.user$ | async; as user) {
        <div>
          <div>
            <img [src]="user.picture" alt="user profile picture" />
            <h2>{{ user.name }}</h2>
          </div>
        </div>
        }
      </div> -->
  </mat-tab>
  } @if(showTab('CAMBIA TU CONTRASEÑA')) {
  <mat-tab label="CAMBIA TU CONTRASEÑA">
    <!-- <div class="min-h-[60vh]">
        <h2>Change Password</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="currentPassword">Current Password:</label>
            <input
              type="password"
              id="currentPassword"
              formControlName="currentPassword"
              required
            />
            <div
              *ngIf="
                passwordForm.controls['currentPassword'].invalid &&
                passwordForm.controls['currentPassword'].touched
              "
            >
              <p>Current password is required.</p>
            </div>
          </div>
          <div>
            <label for="newPassword">New Password:</label>
            <input
              type="password"
              id="newPassword"
              formControlName="newPassword"
              required
            />
            <div
              *ngIf="
                passwordForm.controls['newPassword'].invalid &&
                passwordForm.controls['newPassword'].touched
              "
            >
              <p>New password is required.</p>
            </div>
          </div>
          <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input
              type="password"
              id="confirmPassword"
              formControlName="confirmPassword"
              required
            />
            <div
              *ngIf="
                passwordForm.controls['confirmPassword'].invalid &&
                passwordForm.controls['confirmPassword'].touched
              "
            >
              <p>Confirm password is required.</p>
            </div>
            <div *ngIf="passwordForm.hasError('mismatch')">
              <p>New password and confirm password do not match.</p>
            </div>
          </div>
          <button type="submit" [disabled]="passwordForm.invalid">
            Change Password
          </button>
        </form>
        <p *ngIf="message">{{ message }}</p>
      </div> -->
  </mat-tab>
  }
</mat-tab-group>
