<app-header></app-header>
@if(isLoading) {
<app-loading></app-loading>
} @else {
<app-page-title
  [pageTitle]="'MI PERFIL'"
  [pageDescription]="
    activeFilter === 'MIS CLASES'
      ? 'Haz click para ver la tu respectiva clase y las estadisticas del mismo.'
      : ''
  "
></app-page-title>
@if (roles === 'Instructor') {
<app-instructor-profile [filters]="filters"></app-instructor-profile>
} @else if (roles === 'Admin') {
<app-admin-profile [filters]="filters"></app-admin-profile>
} @else {
<app-student-profile [filters]="filters"></app-student-profile>
} }

<app-footer [ngClass]="isLoading ? 'fixed bottom-0 w-full' : ''"></app-footer>
