<app-header></app-header>
@if(isLoading) {
<app-loading></app-loading>
} @else {
<app-page-title
  [pageTitle]="'MI PERFIL'"
></app-page-title>
<section class="modern-tab-container">
  @if (roles === 'Instructor') {
  <app-instructor-profile [filters]="filters"></app-instructor-profile>
  } @else if (roles === 'Admin') {
  <app-admin-profile [filters]="filters"></app-admin-profile>
  } @else {
  <app-student-profile [filters]="filters"></app-student-profile>
  }
</section>
}

<app-footer [ngClass]="isLoading ? 'fixed bottom-0 w-full' : ''"></app-footer>
