<app-header></app-header>
<app-page-title
  [pageDescription]="instructor.title"
  [arrowBack]="true"
  [pageTitle]="instructor.firstname + ' ' + instructor.lastname"
></app-page-title>
<div
  class="flex flex-col justify-center md:flex-row bg-white p-6 mx-10 rounded-lg montserrat-normal"
>
  <div class="md:w-4/12 mt-6 md:mt-0">
    <img
      [src]="'../../../../assets/images/yoga1.jpg'"
      [alt]="instructor.title"
      class="rounded-lg"
    />
  </div>
</div>

<app-page-title
  [pageTitle]="'Clases de ' + instructor.firstname"
></app-page-title>
<section class="container max-w-7xl mx-auto px-4 py-8 montserrat-normal">
  @if (loadingClasses) {
    <app-loading></app-loading>
  } @else {
    <app-class-thumbnail
    [classes]="videos"
    [allClasses]="true"
    (actionClassSelected)="onWatchSingleClass($event)"
  ></app-class-thumbnail>
  }
</section>
<app-footer></app-footer>
