<app-header></app-header>
<app-page-title
  [pageDescription]="instructor.title"
  [arrowBack]="true"
  [pageTitle]="instructor.firstname + ' ' + instructor.lastname"
></app-page-title>
<div class="w-full flex flex-col items-center montserrat-normal">
  <div
    class="flex flex-col lg:flex-row items-center gap-6 p-6 my-5 cursor-pointer max-w-4xl"
  >
    <div
      class="w-64 h-64 rounded-full object-cover flex-shrink-0 overflow-hidden border-4 border-teal-500"
    >
      <img
        src="/assets/images/examplePerson.jpg"
        alt="Anna Vega Langarica"
        class="w-full h-full object-cover"
      />
    </div>
    <div class="text-gray-700 lg:ml-10">
      <h2
        class="font-bold text-lg lg:text-2xl uppercase text-blue drop-shadow-lg"
      >
        {{ instructor.firstname + " " + instructor.lastname }}
      </h2>
      <p class="text-sm my-5 leading-relaxed drop-shadow-lg">
        {{ instructor.description }}
      </p>
    </div>
  </div>
  <div class="mt-10 max-w-4xl flex flex-col items-center lg:items-start w-full">
    <h3 class="text-lg lg:text-3xl font-bold text-primary uppercase text-blue">
      CLASES DE {{ instructor.firstname }}
    </h3>
    <p class="text-strongBrown mt-2 text-sm lg:text-base font-bold">
      DA CLICK EN UNA CLASE PARA EDITAR
    </p>

    <section
      data-aos="fade-up"
      data-aos-duration="1000"
      class="container mx-auto px-4 py-8 montserrat-normal"
    >
    @if (loadingClasses) {
      <app-loading></app-loading>
      } @else {
      <app-class-thumbnail
        [classes]="videos"
        [allClasses]="true"
        (actionClassSelected)="onWatchSingleClass($event)"
      ></app-class-thumbnail>
      }
    </section>
    <app-button
    [bgColor]="'bg-blue'"
    [text]="'Eliminar perfil'"
    [width]="'w-full'"
    class="my-10"
    (onActionTrigger)="onRemoveInstructor()"
  ></app-button>
  </div>
</div>

<app-footer></app-footer>
