<app-header></app-header>
<div class="w-full flex flex-col items-center montserrat-normal">
  <!-- Instructor Section -->
  <div
    class="flex flex-col lg:flex-row items-center gap-6 p-6 my-5 cursor-pointer max-w-4xl"
  >
    <div class="w-80 rounded-full object-cover flex-shrink-0 overflow-hidden">
      <img
        [src]="instructor.profilePicture"
        alt="Anna Vega Langarica"
        class="w-full h-full object-cover"
      />
    </div>
    <div class="text-gray-700 lg:ml-10">
      <h2
        class="font-bold text-lg lg:text-2xl uppercase text-blue drop-shadow-lg mb-5"
      >
        {{ instructor.firstname + " " + instructor.lastname }}
      </h2>
      <div class="text-neutral-700 leading-relaxed space-y-4">
        <p
          *ngFor="
            let paragraph of getDescriptionParagraphs(instructor.description)
          "
        >
          {{ paragraph }}.
        </p>
      </div>
    </div>
  </div>
  <div class="mt-10 max-w-4xl flex flex-col items-center lg:items-start w-full">
    <h3 class="text-lg lg:text-3xl font-bold text-primary uppercase text-blue">
      FLUYE CON {{ instructor.firstname }}
    </h3>
    <p class="text-strongBrown mt-2 text-sm lg:text-base font-bold">
      Explora su estilo y déjate guiar en tu práctica.
    </p>

    <section
      data-aos="fade-up"
      data-aos-duration="1000"
      class="container mx-auto px-4 py-8 montserrat-normal"
    >
      @if (videos) {
      <app-class-thumbnail
        [classes]="videos"
        (actionClassSelected)="onWatchSingleClass($event)"
      ></app-class-thumbnail>
      } @else {
      <div
        class="flex text-center flex-col md:flex-row items-center justify-center bg-white p-6 md:p-10 mx-4 montserrat-normal my-20 md:space-x-8"
      >
        <h3
          class="text-xl font-bold text-strongBrown drop-shadow-lg mb-4 w-full uppercase"
        >
          próximamente
        </h3>
      </div>
      }
    </section>
  </div>
  <!-- <div
    class="mt-10 text-center bg-bone w-full flex flex-col h-[50vh] lg:h-[40vh] items-center justify-center"
  >
    <h3
      class="text-lg lg:text-3xl mb-4 font-bold text-primary uppercase text-lightBrown"
    >
      Conoce más de {{ instructor.firstname }}
    </h3>
    <div class="flex justify-center flex-col lg:flex-row gap-8 mt-4 text-blue">
      <a href="#" class="text-primary text-7xl">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="text-primary text-7xl">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#" class="text-primary text-7xl">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div> -->
</div>
<app-footer></app-footer>
