.logo-container {
  overflow: hidden;
  padding: 1rem;
}

.logo-scroll {
  display: flex;
  animation: scroll 15s linear infinite;
  width: 200%;
}

.logo-group {
  display: flex;
  min-width: 50%;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  height: 3rem;
  width: auto;
  object-fit: contain;
  margin: 0 1rem;
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}