::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f7f5ef;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #5C7A83, #1f657a);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, #1f657a, #5C7A83);
}