@if (previewView) {
<div class="flex justify-start mt-2">
  @if (videoStatistics) { @for (key of filteredKeys; track $index) { 
  <div class="flex text-blue">
    <span class="material-symbols-outlined">
      {{ key === "countryWatchTime" ? "timer" : "visibility" }}
    </span>
    {{ key === "countryWatchTime" ? getTotalWatchTime() + "min" : getTotalViews()}}
  </div>
   } } @else {
  <app-loading width="30px" height="30px"></app-loading>
  }
</div>
} @else {
<section
  class="w-11/12 mx-auto uppercase montserrat-normal mb-10"
  [ngClass]="
    adminView ? 'text-center' : 'grid grid-cols-1 md:grid-cols-3 gap-8'
  "
>
  <div
    class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition hover:shadow-2xl cursor-pointer"
  >
    <p
      class="montserrat-normal text-strongBrown"
      [ngClass]="adminView ? 'text-3xl mb-2' : 'text-7xl mb-4'"
    >
      {{ getTotalViews() }}
    </p>
    <h3
      class="text-blue font-semibold capitalize"
      [ngClass]="adminView ? 'text-lg' : 'text-2xl'"
    >
      Visital Totales
    </h3>
  </div>
  <div
    class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition hover:shadow-2xl cursor-pointer"
  >
    <p
      class="montserrat-normal text-strongBrown"
      [ngClass]="adminView ? 'text-3xl mb-2' : 'text-7xl mb-4'"
    >
      {{ getTotalWatchTime() }} min
    </p>
    <h3
      class="text-blue font-semibold capitalize"
      [ngClass]="adminView ? 'text-lg' : 'text-2xl'"
    >
      Tiempo total de reproducción
    </h3>
  </div>
  <div
    class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition hover:shadow-2xl cursor-pointer"
  >
    <p
      class="montserrat-normal text-strongBrown"
      [ngClass]="adminView ? 'text-3xl mb-2' : 'text-7xl mb-4'"
    >
      {{ videoStatistics["engagementScore"] + "%" }}
    </p>
    <h3
      class="text-blue font-semibold capitalize"
      [ngClass]="adminView ? 'text-lg' : 'text-2xl'"
    >
      Puntuación de participación
    </h3>
  </div>
</section>

}
