<section
  class="container mx-auto px-4 py-8 montserrat-normal"
  data-aos="fade-up"
  data-aos-duration="1000"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="flex flex-col justify-center text-center lg:text-start">
      <h2 class="text-3xl mb-4 uppercase text-strongBrown">
        ¡Estás cerca de ser parte de esta maravillosa comunidad!
      </h2>
      <!-- <p class="mb-8 text-lg md:text-2xl">
        Cada precio incluye un descuento especial del
        <span class="text-blue">25%</span> para ti.
      </p> -->
      <button
        (click)="authService.loginWithRedirect({ 
              authorizationParams: {
                  screen_hint: 'signup',
                }, appState: { target: '/suscribe' }})"
        class="bg-blue text-white px-8 py-4 text-lg lg:w-6/12 text-sm rounded-md flex items-center justify-center"
      >
        ¡Quiero comenzar mi viaje esencial360!
      </button>
    </div>
    <div>
      @for (plan of plans; track $index) {
      <div
        class="bg-white rounded-lg overflow-hidden flex flex-col lg:flex-row"
      >
        <img [src]="plan.image" class="lg:w-5/12 object-cover" alt="" />
        <div class="p-6 flex flex-col">
          <div class="flex items-center justify-between mb-4">
            <h3 class="text-veige text-2xl font-bold lowercase">{{ plan.name }}</h3>
          </div>
          <p class="text-3xl text-strongBrown mb-6 font-bold">
            ${{ plan.price }} MXN
          </p>
          <ul class="space-y-3">
            <li
              *ngFor="let feature of plan.features"
              class="flex items-center text-strongBrown"
            >
              <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              {{ feature }}
            </li>
          </ul>
        </div>
      </div>
      }
    </div>
  </div>
</section>
