<app-header></app-header>
<section class="max-w-7xl mx-auto">
  <app-title-v2
    [title]="'TALLERES'"
    [description]="
      'Nuestros talleres están diseñados para profundizar en temas de bienestar integral. Explora sesiones especializadas con expertos, donde podrás aprender, experimentar y llevar tu práctica a un nuevo nivel.'
    "
    [image]="pullZone + '/assets/meditations.png'"
  ></app-title-v2>
  <!-- @if (videos) {
    <app-class-filter [videos]="videos" (filtersChanged)="onFiltersChanged($event)"></app-class-filter>
  } -->
  <div class="flex">
    <div class="container mx-auto px-4 py-8 montserrat-normal">
      <div class="relative">
        <div
          class="absolute top-0 right-0 w-1/3 h-64 bg-green-600 rounded-bl-full"
        ></div>
        <div class="relative z-10 mb-10">
          @if (loadingClasses) {
          <app-loading></app-loading>
          } @else if (videos) {
          <app-class-thumbnail
            [workshops]="true"
            [classes]="videos"
            [allClasses]="true"
            (actionClassSelected)="onWatchSingleClass($event)"
          ></app-class-thumbnail>
          } @else {
          <div
            class="flex text-center flex-col items-center justify-center bg-white p-6 md:p-10 mx-4 montserrat-normal my-20 md:space-x-8"
          >
            <h3
              class="text-xl lg:text-3xl font-bold text-strongBrown drop-shadow-lg mb-4 w-full uppercase"
            >
              Aún no hay talleres agendados
            </h3>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
