<section
  class="container mx-auto w-10/12 px-4 py-8"
  data-aos="fade-up"
  data-aos-duration="1000"
>
  <div
    class="flex flex-col text-col w-full items-start justify-center text-start montserrat-normal my-8"
  >
    <h4 class="text-strongBrown uppercase text-4xl font-bold">
      Clases Populares
    </h4>
  </div>
  @if (loadingClasses) {
  <app-loading></app-loading>
  } @else {
  <app-class-thumbnail
    [classes]="classes"
    [allClasses]="true"
    (actionClassSelected)="onWatchSingleClass($event)"
  ></app-class-thumbnail>
  }
</section>

